<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course Development Reviews</title>
</head>
<body>
  <h1>Course Development Reviews</h1>
  <p>Hello {{user.first_name}}, these are the reviews currently associated with
    your account. Please contact OFDIT if you do not see a review you believe
    you should.</p>
  {% for review in reviews %}
  <div>
    <p>{{ review.course }} : {{ review.developer }}: <a href="review/{{
      review.id}}">{{ review.stage }}</a>
  </div>
  {% endfor %}
</body>
</html>
